/* Tooltip */

.tooltip-container [role="tooltip"] {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    width: max-content;
    max-width: 12.5em;
    z-index: 1;
}

.tooltip-container [role="tooltip"] span {
    display: block;
    padding: 0.25rem 0.5rem;
    background: #f0f0f0;
    color: #0f0f0f;
    border-radius: 0.25rem;
    box-shadow: 0 0 3px 0 #00000066;
}

.tooltip-container [role="tooltip"]::before,
.tooltip-container [role="tooltip"]::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 100%;
    border: 0.25rem solid #f0f0f0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.tooltip-container [role="tooltip"]::after {
    box-shadow: 0 0 3px 0 #00000066;
    z-index: -1;
}

.tooltip-container {
    display: inline-block;
    position: relative;
}

.tooltip-container.hover:hover>[role="tooltip"],
.tooltip-container>.focused:focus+[role="tooltip"] {
    display: inline-block;
}

/* Popover */

.popover-container [role="status"] {
    display: none;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9rem;
    width: max-content;
    max-width: 25em;
    margin-left: 0.2rem;
    z-index: 1;
}

.popover-container [role="status"] span {
    display: block;
    padding: 0.25rem 0.5rem;
    background: #fff;
    color: #000;
    border-radius: 0.25rem;
    box-shadow: 0 0 3px 0 #00000066;
}

.popover-container [role="status"]::before,
.popover-container [role="status"]::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    top: 50%;
    border: 0.25rem solid #fff;
    transform: translate(50%, -50%) rotate(45deg);
}

.popover-container [role="status"]::after {
    box-shadow: 0 0 3px 0 #00000066;
    z-index: -1;
}

.popover-container {
    display: inline-block;
    position: relative;
}

.popover-container.open>[role="status"] {
    display: inline-block;
}

/*************************/

.my-n2 {
    margin: -0.5rem;
}

.me-n3 {
    margin-right: -1rem;
}

.mh-15 {
    max-height: 15rem;
}